@page
@model DisasterAlleviation.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome to the Dashboard!</h2>
<p>Select an option below:</p>

<div>
    <a class="btn btn-primary" href="/ReportIncident">Disaster Incident Reporting</a>
    <a class="btn btn-primary" href="/DonateResources">Donations</a>
    <a class="btn btn-primary" href="/Volunteer">Volunteer</a>
    <a class="btn btn-primary" href="/Profile">Manage Profile</a>
</div>
