@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Disaster Alleviation</h1>
    
</div>

<div>
    <a class="btn btn-primary" href="/Login">Login</a>
    <a class="btn btn-primary" href="/Register">Register</a>
    
</div>
