@page
@model DisasterAlleviation.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" class="form-control" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <small>Password must meet the following requirements:</small>
        <ul>
            <li>At least 6 characters long</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one number</li>
            <li>At least one special character e.g., !, #, $, etc.</li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

@if (Model.UpdateSuccess)
{
    <div class="alert alert-success">
        Profile updated successfully!
    </div>
}
